<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mfg.persist.workspaceStorageReference">
      <workspaceStorageReference
            class="com.mfg.symbols.csv.persistence.CSVStorageReference">
      </workspaceStorageReference>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.mfg.symbols.ui.views.navigator">
      </viewer>
      <viewerContentBinding
            viewerId="com.mfg.symbols.ui.views.navigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.mfg.symbols.csv.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.mfg.symbols.csv.ui.views.CSVSymbolContentProvider"
            id="com.mfg.symbols.csv.ui.views.navigatorContent"
            labelProvider="com.mfg.symbols.csv.ui.views.CSVSymbolsLabelProvider"
            name="CSV Symbol Configurations">
         <triggerPoints>
            <equals
                  value="com.mfg.symbols.ui.views.navigator.root">
            </equals>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mfg.symbols.csv.ui.editors.CSVEditor"
            icon="platform:/plugin/com.mfg.symbols/icons/symbol.png"
            id="com.mfg.symbols.csv.ui.editors.CSVSymbolConfigurationEditor"
            name="CSV Symbol Configuration Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.mfg.symbols.ui.views.navigator?after=group.new">
         <command
               commandId="com.mfg.symbols.csv.commands.importCSVFiles"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="com.mfg.connector.csv.CsvDataProvider">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.mfg.symbols.csv.ui.commands.ImportCSVFilesHandler"
            id="com.mfg.symbols.csv.commands.importCSVFiles"
            name="Import CSV Files">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mfg.symbols.csv.configurations.CSVConfiguration"
            class="com.mfg.symbols.csv.adapters.CSVConfigurationAdapterFactory">
         <adapter
               type="com.mfg.ui.editors.IEditable">
         </adapter>
         <adapter
               type="com.mfg.symbols.jobs.ISymbolJobFactory">
         </adapter>
      </factory>
   </extension>
</plugin>
