<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mfg.plstats.ui.editors.IndicatorEditor"
            default="false"
            icon="icons/indicator.ico"
            id="com.mfg.plstats.ui.editors.IndicatorEditor"
            name="Indicator Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mfg.plstats.PLSPreferencesPage"
            id="com.mfg.plstats.page1"
            name="Pre-Learning Stats">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
               category="com.mfg.widget.probabilities"
               class="com.mfg.plstats.ProbabilitiesCalcLogView"
               icon="icons/probLog.ico"
               id="com.mfg.widget.probabilities.logger.ProbabilitiesLogView"
               name="Probabilities Log"
               restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.mfg.widget.probabilities"
            class="com.mfg.plstats.charts.IndicatorChartView"
            icon="icons/trade.jpg"
            id="com.mfg.plstats.charts.IndicatorChartView"
            name="Indicator Chart"
            restorable="true">
      </view>
      <view
            category="com.mfg.widget.probabilities"
            class="com.mfg.plstats.ui.editors.ProbabilitiesSetView"
            icon="icons/probabilities statistics.ico"
            id="com.mfg.plstats.ui.editors.ProbabilitiesSetView"
            name="Probabilities Sets">
      </view>
      <view
            category="com.mfg.widget.probabilities"
            class="com.mfg.plstats.ui.editors.PatternsModelView"
            icon="icons/probabilities statistics.ico"
            id="com.mfg.plstats.ui.editors.PatternsModelView"
            name="Patterns">
      </view>
      <view
            category="com.mfg.widget.probabilities"
            class="com.mfg.plstats.ui.editors.SCTProbabilitiesView"
            icon="icons/probabilities statistics.ico"
            id="com.mfg.plstats.ui.editors.SCTProbabilitiesView"
            name="SCT Probabilities Table">
      </view>
      <view
            category="com.mfg.widget.probabilities"
            class="com.mfg.plstats.ui.editors.TargetsDistributionView"
            icon="icons/probabilities statistics.ico"
            id="com.mfg.plstats.ui.editors.TargetsDistributionView"
            name="Targets Distribution">
      </view>
      <view
            category="com.mfg.widget.probabilities"
            class="com.mfg.plstats.ui.editors.T1ComputerView"
            icon="icons/probabilities statistics.ico"
            id="com.mfg.plstats.ui.editors.T1ComputerView"
            name="T1 Computation">
      </view>
      <view
            category="com.mfg.widget.probabilities"
            class="com.mfg.plstats.ui.editors.ProbabilitiesLogFilterView"
            icon="icons/probLog.ico"
            id="com.mfg.plstats.ui.editors.ProbabilitiesLogFilterView"
            name="Probabilities Log Filter">
      </view>
      <category
            id="com.mfg.widget.probabilities"
            name="Probabilities">
      </category>
      <view
            category="com.mfg.widget.probabilities"
            class="com.mfg.plstats.ui.editors.ProbabilitiesArrayView"
            icon="icons/probabilities statistics.ico"
            id="com.mfg.plstats.ui.editors.ProbabilitiesArrayView"
            name="Probabilities Array"
            restorable="true">
      </view>
      <view
            category="com.mfg.widget.probabilities"
            class="com.mfg.plstats.ui.editors.ComparisonView"
            icon="icons/probabilities statistics.ico"
            id="com.mfg.plstats.ui.editors.ComparisonView"
            name="Distribution Comparison">
      </view>
      <view
            category="com.mfg.ui.views.navigatorCategory"
            class="com.mfg.plstats.ui.views.ProbabilitiesNavigator2"
            icon="icons/navigator.gif"
            id="com.mfg.plstats.views.navigator"
            name="Probabilities Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mfg.plstats.ProbabilitiesPerpective"
            icon="icons/probabilities statistics.ico"
            id="com.mfg.plstats.ProbabilitiesPerpective"
            name="Probabilities Statistics">
      </perspective>
      <perspective
            class="com.mfg.plstats.ui.ProbabilitiesForecastingPerspective"
            icon="icons/dice.ico"
            id="com.mfg.plstats.perspective.forecasting"
            name="Probabilities Forecasting">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.mfg.plstats.ProbabilitiesPerpective">
         <view
               id="com.mfg.widget.probabilities.logger.ProbabilitiesLogView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
         <view
               id="com.mfg.plstats.charts.IndicatorChartView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
         <view
               id="com.mfg.plstats.ui.editors.ProbabilitiesSetView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
         <view
               id="com.mfg.plstats.ui.editors.PatternsModelView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
         <view
               id="com.mfg.plstats.ui.editors.SCTProbabilitiesView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
         <view
               id="com.mfg.plstats.ui.editors.TargetsDistributionView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
         <view
               id="com.mfg.plstats.ui.editors.T1ComputerView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
         <view
               id="com.mfg.plstats.ui.editors.ProbabilitiesArrayView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
         <view
               id="com.mfg.plstats.ui.editors.ComparisonView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
         <view
               id="com.mfg.plstats.ui.editors.ProbabilitiesLogFilterView"
               minimized="false"
               relationship="stack"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.mfg.plstats.perspective.forecasting">
         <view
               id="com.mfg.plstats.views.navigator"
               minimized="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="id1"
         point="com.mfg.logger.application.components">
      <component
            id="com.mfg.plstats.probabilitiesLog"
            name="Probabilities Log">
      </component>
   </extension>
   <extension
         point="com.mfg.persist.workspaceStorageReference">
      <workspaceStorageReference
            class="com.mfg.plstats.persist.PLStatsCSVStorageReference">
      </workspaceStorageReference>
      <workspaceStorageReference
            class="com.mfg.plstats.persist.PLStatsIndicatorStorageReference">
      </workspaceStorageReference>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.mfg.plstats.IndicatorEditorInputFactory"
            id="com.mfg.plstats.IndicatorEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.mfg.plstats.views.navigator">
      </viewer>
      <viewerContentBinding
            viewerId="com.mfg.plstats.views.navigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.mfg.plstats.ui.csvContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.mfg.plstats.ui.PLStatsContentProvider"
            id="com.mfg.plstats.ui.csvContent"
            labelProvider="com.mfg.plstats.ui.PLStatsLabelProvider"
            name="CSV Configurations">
         <triggerPoints>
            <instanceof
                  value="com.mfg.plstats.persist.PLStatsCSVStorage">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.mfg.plstats.views.navigator">
         <command
               commandId="com.mfg.plstats.commands.importcsv"
               style="push">
         </command>
         <command
               commandId="com.mfg.plstats.commands.newindicator"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.mfg.plstats.persist.PLStatsCSVConfiguration">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.mfg.plstats.ui.handlers.ImportCSVHandler"
            id="com.mfg.plstats.commands.importcsv"
            name="Import CSV Symbols">
      </command>
      <command
            defaultHandler="com.mfg.plstats.ui.handlers.NewIndicatorHandler"
            id="com.mfg.plstats.commands.newindicator"
            name="New Indicator">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mfg.plstats.persist.PLStatsIndicatorConfiguration"
            class="com.mfg.plstats.adapters.PLStatsIndicatorConfigurationAdapterFactory">
         <adapter
               type="com.mfg.ui.editors.IEditable">
         </adapter>
      </factory>
   </extension>
</plugin>
