<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="context.xml"
            plugin="com.mfg.help">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.help.ui.indexcommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
      <key
            commandId="com.mfg.help.commands.chartKeys"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=group.assist">
         <command
               commandId="org.eclipse.help.ui.indexcommand"
               label="Help Index"
               mnemonic="I"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=helpContents">
         <command
               commandId="com.mfg.help.commands.chartKeys"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.mfg.help.ui.handlers.ShowChartHelpHandler"
            description="Show a table with the chart keys (shortcuts)"
            id="com.mfg.help.commands.chartKeys"
            name="Chart Keys">
      </command>
   </extension>

</plugin>
