<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mfg.persist.workspaceStorageInitiator">
      <workspaceStorageInitiator
            class="com.mfg.ui.persistence.UIWorkspaceInitiator">
      </workspaceStorageInitiator>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mfg.ui.commands.RenameStorageObjectHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
         <and>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="com.mfg.persist.interfaces.IStorageObject">
                        </instanceof>
                     </and>
                  </iterate>
               </and>
            </with>
            <with
                  variable="activeContexts">
               <equals
                     value="com.mfg.ui.navigatorContext">
               </equals>
            </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.mfg.ui.commands.DeleteStorageObjectHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.mfg.ui.storageObjectsSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.mfg.ui.storageObjectsSelected">
         <and>
            <with variable="activeContexts">
            	<iterate operator="or">
            		<equals
                     	value="com.mfg.ui.navigatorContext">
               		</equals>
            	</iterate>
            </with>
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="com.mfg.persist.interfaces.IStorageObject">
               </instanceof>
            </iterate>
         </with>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.mfg.ui.editors.StorageObjectEditorInputFactory"
            id="com.mfg.ui.editors.storageObjectEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.mfg.ui.views.navigatorCategory"
            name="Navigators">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.mfg.ui.commands.OpenSelectionInEditorHandler"
            id="com.mfg.ui.commands.openSelectionInEditor"
            name="Open Editor">
      </command>
      <command
            defaultHandler="com.mfg.ui.commands.OpenViewHandler"
            description="Show a dialog to open a view."
            id="com.mfg.ui.commands.openView"
            name="Open View...">
      </command>
      <command
            defaultHandler="com.mfg.ui.commands.OpenNewViewHandler"
            description="Show a dialog to open a new view."
            id="com.mfg.ui.commands.openNewView"
            name="Open New View...">
      </command>
      <command
            defaultHandler="com.mfg.ui.commands.LoadedStoragesHandler"
            id="com.mfg.ui.commands.loadedstorages"
            name="Show Loaded Storages">
      </command>
      <command
            defaultHandler="com.mfg.ui.commands.RegisterLicKeyHandler"
            id="com.mfg.ui.commands.registerlic"
            name="Register License Key">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.mfg.ui.commands.openSelectionInEditor"
               label="Open Editor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="com.mfg.ui.editors.IEditable">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window">
         <command
               commandId="org.eclipse.ui.window.newWindow"
               style="push">
         </command>
         <separator
               name="com.mfg.ui.menu.window.beforeopenviews"
               visible="true">
         </separator>
         <command
               commandId="com.mfg.ui.commands.openView"
               icon="icons/new_fastview.gif"
               style="push">
         </command>
         <command
               commandId="com.mfg.ui.commands.openNewView"
               icon="icons/new_fastview.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.openEditorDropDown"
               style="push">
         </command>
         <separator
               name="com.mfg.ui.menus.beforeperspectives"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.window.customizePerspective"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.savePerspective"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.resetPerspective"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.closePerspective"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.closeAllPerspectives"
               style="push">
         </command>
         <separator
               name="com.mfg.ui.menu.window.beforeprefs"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.window.preferences"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="com.mfg.ui.commands.registerlic"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.mfg.ui.commands.openView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+V">
      </key>
      <key
            commandId="com.mfg.ui.commands.loadedstorages"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+L">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.mfg.ui.navigatorContext"
            name="Navigator Context">
      </context>
   </extension>
</plugin>
