<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
<extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.mfg.symbols.ui.views.navigator">
         <popupMenu>
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.delete"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.rename">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.mfg.symbols.ui.views.navigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.mfg.symbols.ui.views.navigatorContent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="com.mfg.symbols.inputs.navigatorContent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="com.mfg.symbols.trading.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="com.mfg.symbols.navigatorContentSorter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.mfg.symbols.ui.widgets.SymbolContentProvider"
            id="com.mfg.symbols.ui.views.navigatorContent"
            labelProvider="com.mfg.symbols.ui.widgets.SymbolsLabelProvider"
            name="Symbols">
         <triggerPoints>
            <instanceof
                  value="com.mfg.symbols.ui.views.ISymbolNavigatorRoot">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            contentProvider="com.mfg.symbols.inputs.ui.views.InputsContentProvider"
            id="com.mfg.symbols.inputs.navigatorContent"
            labelProvider="com.mfg.symbols.inputs.ui.views.InputsLabelProvider"
            name="Inputs">
         <triggerPoints>
            <or>
               <instanceof
                     value="com.mfg.symbols.configurations.SymbolConfiguration">
               </instanceof>
               <instanceof
                     value="com.mfg.symbols.configurations.ISymbolConfigurationAdaptable">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            contentProvider="com.mfg.symbols.trading.ui.TradingContentProvider"
            id="com.mfg.symbols.trading.navigatorContent"
            labelProvider="com.mfg.symbols.trading.ui.TradingLabelProvider"
            name="Trading">
         <triggerPoints>
            <instanceof
                  value="com.mfg.symbols.inputs.configurations.InputConfiguration">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            id="com.mfg.symbols.navigatorContentSorter"
            name="Configurations Sorter"
            sortOnly="true">
         <commonSorter
               class="com.mfg.symbols.ui.views.ConfigurationSorter">
         </commonSorter>
         <triggerPoints>
            <instanceof
                  value="com.mfg.interfaces.configurations.BaseConfiguration">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.mfg.ui.views.navigatorCategory"
            class="com.mfg.symbols.ui.views.SymbolNavigator"
            icon="icons/navigator.gif"
            id="com.mfg.symbols.ui.views.navigator"
            name="Symbol Navigator"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.mfg.symbols.trading.ui.views.AccountManagerView2"
            icon="icons/strategyLog.ico"
            id="com.mfg.symbols.trading.ui.views.AccountManagerView2"
            name="Account Manager">
      </view>
      <category
            id="com.mfg.strategy.views.category"
            name="Strategy">
      </category>
      <view
            category="com.mfg.strategy.views.category"
            class="com.mfg.strategy.ConfirmationQueue"
            id="com.mfg.strategy.ConfirmationQueue"
            name="Confirmation Queue">
      </view>
      <view
            category="com.mfg.strategy.views.category"
            class="com.mfg.symbols.trading.ui.views.GlobalCommandView"
            id="com.mfg.symbols.trading.ui.views.GlobalCommandView"
            name="Global Command">
      </view>
      <view
            class="com.mfg.symbols.trading.ui.views.DashboardView"
            icon="icons/dashboard.png"
            id="com.mfg.symbols.trading.ui.views.DashboardView"
            name="Dashboard">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.mfg.symbols.ui.views.navigator?after=additions">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.mfg.symbols.ui.views.navigator?after=group.delete">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.mfg.ui.storageObjectsSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.mfg.symbols.ui.views.navigator?after=group.rename">
         <command
               commandId="org.eclipse.ui.edit.rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="com.mfg.ui.storageObjectsSelected">
                  </reference>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.mfg.symbols.ui.views.navigator?after=group.new">
         <command
               commandId="com.mfg.symbols.inputs.ui.commands.newConfiguration"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.mfg.symbols.configurations.ISymbolConfigurationAdaptable">
                        </instanceof>
                        <instanceof
                              value="com.mfg.symbols.configurations.SymbolConfiguration">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.mfg.symbols.tradings.ui.commands.newConfiguration"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mfg.symbols.inputs.configurations.InputConfiguration">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.mfg.symbols.commands.changeConfigurationSet"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mfg.symbols.trading.configurations.TradingConfiguration">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="com.mfg.symbols.opensep"
               visible="true">
         </separator>
         <command
               commandId="com.mfg.chart.commands.openSelectionInChart"
               icon="icons/chart.jpg"
               label="Open Chart"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.mfg.symbols.configurations.SymbolConfiguration">
                        </instanceof>
                        <instanceof
                              value="com.mfg.symbols.inputs.configurations.InputConfiguration">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.mfg.symbols.trading.ui.commands.openSelectedInChart"
               icon="icons/chart.jpg"
               label="Open Chart"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.mfg.symbols.definitions.tradingsel">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.mfg.symbols.trading.ui.commands.openAccountManager"
               icon="icons/strategyLog.ico"
               label="Open Account Manager"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.mfg.symbols.definitions.tradingsel">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.mfg.symbols.commands.opendashboard"
               icon="icons/dashboard.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.mfg.symbols.definitions.tradingsel">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.mfg.symbols.trading.ui.views.GlobalCommandView?after=additions">
         <command
               commandId="com.mfg.symbols.trading.ui.commands.openTradingInChart"
               icon="icons/chart.jpg"
               label="Open Chart"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mfg.symbols.trading.configurations.TradingConfiguration">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.mfg.chart.commands.openSelectionInChart"
               icon="icons/chart.jpg"
               label="Open Chart"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <not>
                        <instanceof
                              value="com.mfg.symbols.trading.configurations.TradingConfiguration">
                        </instanceof>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.mfg.symbols.trading.ui.commands.openAccountManager"
               icon="icons/strategyLog.ico"
               label="Open Account Manager"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mfg.symbols.trading.configurations.TradingConfiguration">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.mfg.symbols.inputs.ui.commands.NewInputConfigurationHandler"
            id="com.mfg.symbols.inputs.ui.commands.newConfiguration"
            name="New Input Configuration">
      </command>
      <command
            defaultHandler="com.mfg.symbols.trading.ui.commands.NewTradingConfigurationHandler"
            id="com.mfg.symbols.tradings.ui.commands.newConfiguration"
            name="New Trading Configuration">
      </command>
      <command
            categoryId="com.mfg.chart.commands.ChartCategory"
            defaultHandler="com.mfg.chart.commands.ChartActionHandler"
            description="Show Closed Trades"
            id="com.mfg.symbols.commands.showClosedTrades"
            name="Show Closed Trades">
      </command>
      <command
            defaultHandler="com.mfg.symbols.ui.commands.ChangeConfigurationSet_fromNavigator_Handler"
            id="com.mfg.symbols.commands.changeConfigurationSet"
            name="Change Configuration Set">
      </command>
      <command
            defaultHandler="com.mfg.symbols.trading.ui.commands.OpenSelectedTradingInChartHandler"
            id="com.mfg.symbols.trading.ui.commands.openSelectedInChart"
            name="Open Chart">
      </command>
      <command
            defaultHandler="com.mfg.symbols.trading.ui.commands.OpenTradingInChartHandler"
            id="com.mfg.symbols.trading.ui.commands.openTradingInChart"
            name="Open Trading in Chart">
      </command>
      <command
            defaultHandler="com.mfg.symbols.trading.ui.commands.OpenAccountManagerHandler"
            id="com.mfg.symbols.trading.ui.commands.openAccountManager"
            name="Open Account Manager">
      </command>
      <command
            categoryId="com.mfg.chart.commands.ChartCategory"
            defaultHandler="com.mfg.symbols.trading.ui.commands.ChangeConfigurationSet_fromChartView_Handler"
            id="com.mfg.symbols.trading.ui.commands.changeConfigSet"
            name="Change Configuration Set">
      </command>
      <command
            defaultHandler="com.mfg.symbols.trading.ui.commands.SwapTradingEquityChartHandler"
            id="com.mfg.symbols.comands.swapTradingEquity"
            name="Chart Swap Trading/Equity">
      </command>
      <command
            defaultHandler="com.mfg.symbols.trading.ui.commands.OpenDashboardHandler"
            id="com.mfg.symbols.commands.opendashboard"
            name="Open Dashboard">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mfg.symbols.configurations.SymbolConfiguration"
            class="com.mfg.symbols.ui.adapters.ChartAdapterFactory">
         <adapter
               type="com.mfg.chart.ui.views.IChartContentAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mfg.symbols.inputs.configurations.InputConfiguration"
            class="com.mfg.symbols.inputs.ui.adapters.InputsAdapterFactory">
         <adapter
               type="com.mfg.chart.ui.views.IChartContentAdapter">
         </adapter>
         <adapter
               type="com.mfg.ui.editors.IEditable">
         </adapter>
         <adapter
               type="com.mfg.chart.ui.views.IAlternativeChartContent">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mfg.symbols.inputs.ui.adapters.SyntheticInput"
            class="com.mfg.symbols.inputs.ui.adapters.InputsAdapterFactory">
         <adapter
               type="com.mfg.chart.ui.views.IChartContentAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mfg.symbols.trading.configurations.TradingConfiguration"
            class="com.mfg.symbols.trading.ui.adapters.TradingAdapterFactory">
         <adapter
               type="com.mfg.chart.ui.views.IChartContentAdapter">
         </adapter>
         <adapter
               type="com.mfg.ui.editors.IEditable">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mfg.chart.ui.views.ChartView"
            class="com.mfg.symbols.trading.ui.adapters.ChartViewAdapterFactory">
         <adapter
               type="com.mfg.symbols.trading.ui.views.ITradingView">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.mfg.persist.workspaceStorageReference">
      <workspaceStorageReference
            class="com.mfg.symbols.inputs.persistence.WorkspaceStorageReference">
      </workspaceStorageReference>
      <workspaceStorageReference
            class="com.mfg.symbols.trading.persistence.TradingWorkspaceStorageReference">
      </workspaceStorageReference>
   </extension>
   <extension
         point="com.mfg.persist.workspaceStorageInitiator">
      <workspaceStorageInitiator
            class="com.mfg.symbols.inputs.persistence.StoragesInitiator">
      </workspaceStorageInitiator>
   </extension>
   <extension
         id="com.mfg.input.components"
         point="com.mfg.logger.application.components">
      <component
            id="com.mfg.symbols.inputs.logger"
            name="Inputs Logger">
      </component>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mfg.symbols.preferences.SymbolsPreferencePage"
            id="com.mfg.symbols.preferences.Input"
            name="Inputs">
      </page>
      <page
            class="com.mfg.symbols.trading.ui.prefs.TradingPreferencesPage"
            id="com.mfg.symbols.trading.ui.prefs"
            name="Trading">
      </page>
   </extension>
   <extension
      point="com.mfg.logger.ui.logViewer">
   <logViewer
         id="com.mfg.symbols.trading.ui.loggerViewerLongShort"
         name="Trading Log - Long/Short">
      <viewerColumn
            id="time"
            label="Time"
            labelProvider="com.mfg.symbols.trading.ui.TimeLabelProvider">
      </viewerColumn>
      <viewerColumn
            id="price"
            label="Price"
            labelProvider="com.mfg.symbols.trading.ui.PriceLabelProvider">
      </viewerColumn>
      <viewerColumn
            id="quantity"
            label="Quantity"
            labelProvider="com.mfg.symbols.trading.ui.QuantityLabelProvider">
      </viewerColumn>
      <viewerColumn
            id="type"
            label="Type"
            labelProvider="com.mfg.symbols.trading.ui.TypeLabelProvider">
      </viewerColumn>
      <viewerColumn
            id="event"
            label="Event"
            labelProvider="com.mfg.symbols.trading.ui.EventLabelProvider">
      </viewerColumn>
      <viewerColumn
            id="source"
            label="Source"
            labelProvider="com.mfg.symbols.trading.ui.SourceLabelProvider">
      </viewerColumn>
      <viewerColumn
            id="orderId"
            label="Order ID"
            labelProvider="com.mfg.symbols.trading.ui.OrderIdLabelProvider">
      </viewerColumn>
      <viewerColumn
            id="strategyName"
            label="Strategy Name"
            labelProvider="com.mfg.symbols.trading.ui.StrategyNameLabelProvider">
      </viewerColumn>
      <viewerColumn
            id="accountName"
            label="Account Name"
            labelProvider="com.mfg.symbols.trading.ui.AccountLabelProvider">
      </viewerColumn>
   </logViewer>
</extension>

<extension-point id="strategies" name="Strategies" schema="schema/strategies.exsd"/>
<extension-point id="com.mfg.symbols.tradingViews" name="Trading Views" schema="schema/tradingViews.exsd"/>

<extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mfg.logger.ILogRecord"
            class="com.mfg.strategy.logger.AdapterFactory">
         <adapter
               type="com.mfg.utils.ui.IObjectSplitter">
         </adapter>
      </factory>
   </extension>
<extension
      point="com.mfg.symbols.tradingViews">
   <tradingView
         viewId="com.mfg.symbols.trading.ui.views.AccountManagerView2">
   </tradingView>
   <tradingView
         viewId="com.mfg.chart.ui.views.ChartView">
   </tradingView>
   <tradingView
         viewId="com.mfg.symbols.trading.ui.views.DashboardView">
   </tradingView>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="com.mfg.symbols.commands.showClosedTrades"
         contextId="com.mfg.chart.contexts.chartView"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="SHIFT+T">
   </key>
</extension>
<extension
      point="org.eclipse.ui.startup">
   <startup
         class="com.mfg.symbols.SymbolsStartup">
   </startup>
</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="com.mfg.application.perspective">
      <view
            id="com.mfg.symbols.trading.ui.views.GlobalCommandView"
            minimized="false"
            relationship="fast">
      </view>
      <view
            id="com.mfg.strategy.ConfirmationQueue"
            minimized="false"
            relationship="fast">
      </view>
      <view
            id="com.mfg.chart.ui.views.ChartView"
            minimized="false"
            relationship="right"
            relative="org.eclipse.ui.editorss"
            visible="false">
      </view>
      <view
            id="com.mfg.symbols.trading.ui.views.DashboardView"
            minimized="false"
            relationship="stack">
      </view>
      <view
            id="com.mfg.symbols.trading.ui.views.AccountManagerView2"
            minimized="false"
            relationship="stack"
            visible="false">
      </view>
   </perspectiveExtension>
</extension>
<extension
      point="org.eclipse.core.expressions.definitions">
   <definition
         id="com.mfg.symbols.definitions.tradingsel">
      <with
            variable="selection">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="com.mfg.symbols.trading.configurations.TradingConfiguration">
            </instanceof>
         </iterate>
      </with>
   </definition>
</extension>

</plugin>
