<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.marketforecastgroup.dfsa.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.marketforecastgroup.dfsa.ui.Perspective"
            icon="icons/launcherrs.bmp"
            id="com.marketforecastgroup.dfsa.ui.perspective"
            name="DFS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.marketforecastgroup.dfsa.ui.perspective">
         <view
               id="com.marketforecastgroup.dfsa.ui.views.symbols"
               minimized="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.marketforecastgroup.dfsa.ui.views.maturities"
               minimized="false"
               relationship="bottom"
               relative="com.marketforecastgroup.dfsa.ui.views.symbols">
         </view>
         <view
               id="com.marketforecastgroup.dfsa.ui.views.maturityBarsView"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
         <view
               id="com.marketforescastgroup.logger.views.logview"
               minimized="false"
               relationship="stack"
               relative="com.marketforecastgroup.dfsa.ui.views.symbols">
         </view>
         <view
               id="com.marketforecastgroup.dfsa.ui.views.ClientsView"
               minimized="false"
               relationship="stack"
               relative="com.marketforecastgroup.dfsa.ui.views.maturities">
         </view>
         <viewShortcut
               id="com.marketforecastgroup.dfsa.ui.scheduler">
         </viewShortcut>
         <view
               id="com.marketforecastgroup.dfsa.ui.scheduler"
               minimized="false"
               relationship="stack"
               relative="com.marketforecastgroup.dfsa.ui.views.ClientsView">
         </view>
      </perspectiveExtension>
   </extension>
<extension point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="menu:file">
       <command
             commandId="com.marketforecastgroup.dfsa.ui.actions.exit"
             label="Exit"
             style="push">
       </command>
    </menuContribution>    
    <menuContribution
          allPopups="false"
          locationURI="popup:com.marketforecastgroup.dfsa.ui.views.symbols?after=group.new">
       <command
             commandId="com.marketforecastgroup.dfsa.ui.commands.newSymbol"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:com.marketforecastgroup.dfsa.ui.views.symbols?after=group.delete">
       <command
             commandId="org.eclipse.ui.edit.delete"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:com.marketforecastgroup.dfsa.ui.views.symbols?after=group.rename">
       <separator
             name="com.marketforecastgroup.dfsa.ui.symbolNavigatorAdditionsSeparator"
             visible="true">
       </separator>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:com.marketforecastgroup.dfsa.ui.views.symbols?after=additions">
       <command
             commandId="com.marketforecastgroup.dfsa.ui.commands.maturitiesdetail"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="selection">
                <and>
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <instanceof
                            value="com.mfg.common.DfsSymbol">
                      </instanceof>
                   </iterate>
                </and>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="toolbar:com.marketforecastgroup.dfsa.ui.views.symbols?after=additions">
       <command
             commandId="com.marketforecastgroup.dfsa.ui.commands.newSymbol"
             icon="IMG_OBJ_ADD"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:com.marketforecastgroup.dfsa.ui.views.symbols?after=additions">
       <command
             commandId="com.marketforecastgroup.dfsa.ui.commands.newSymbol"
             icon="IMG_OBJ_ADD"
             style="push">
       </command>
    </menuContribution>
</extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.marketforecastgroup.dfsa.ui.actions.Exit"
            commandId="com.marketforecastgroup.dfsa.ui.actions.exit">
      </handler>
      <handler
            class="com.marketforecastgroup.dfsa.ui.commands.DeletePrefixHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
         <and>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.mfg.common.DfsSymbol">
                  </instanceof>
               </iterate>
            </with>
            <with
                  variable="activeContexts">
               <equals
                     value="com.mfg.ui.navigatorContext">
               </equals>
            </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.marketforecastgroup.dfsa..filecategory"
            name="File Category">
      </category>
      <command
            categoryId="com.marketforecastgroup.dfsa..filecategory"
            id="com.marketforecastgroup.dfsa.ui.actions.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="com.marketforecastgroup.dfsa.ui.commands.CreateNewSymbolHandler"
            description="Create New Symbol"
            id="com.marketforecastgroup.dfsa.ui.commands.newSymbol"
            name="New Symbol">
      </command>      
      <command
            defaultHandler="com.marketforecastgroup.dfsa.ui.commands.MaturitiesDetailsHandler"
            id="com.marketforecastgroup.dfsa.ui.commands.maturitiesdetail"
            name="Details...">
      </command>
   </extension>
<extension
      id="product"
      point="org.eclipse.core.runtime.products">
   <product
         application="com.marketforecastgroup.dfsa.application"
         name="Data Feed and Storage Agent">
      <property
            name="aboutText"
            value="Data Feed and Storage Agent application.&#x0A;&#x0A;Version: 1.0 u_03&#x0A;&#x0A;DFSA is an Eclipse RCP solution to take historical data from eSignal and store it in a Database to be used by MFGRC.&#x0A;&#x0A;&#x0A;(C) Copyright 2012 - Market Forecast Group. All rights reserved.&#x0A;&#x0A;This program and the accompanying materials are proprietary of Giulio Rugarli.">
      </property>
      <property
            name="aboutImage"
            value="icons/about.gif">
      </property>
      <property
            name="appName"
            value="Data Feed and Storage Agent">
      </property>
      <property
            name="preferenceCustomization"
            value="plugin_customization.ini">
      </property>
      <property
            name="windowImages"
            value="icons/launcherrs.bmp">
      </property>
   </product>
</extension>
<extension
      point="org.eclipse.ui.services">
   <sourceProvider
         provider="com.marketforecastgroup.dfsa.ui.commands.ShowSymbolsCommandState">
      <variable
            name="com.marketforecastgroup.dfsa.ui.commands.requestactive"
            priorityLevel="workbench">
      </variable>
   </sourceProvider>
   <sourceProvider
         provider="com.marketforecastgroup.dfsa.ui.commands.DisconnectCommandState">
      <variable
            name="com.marketforecastgroup.dfsa.ui.commands.disconnectactive"
            priorityLevel="workbench">
      </variable>
   </sourceProvider>
</extension>
<extension
      point="org.eclipse.ui.views">
   <view
         class="com.marketforecastgroup.dfsa.ui.views.SymbolsNavigator"
         icon="icons/symbol.gif"
         id="com.marketforecastgroup.dfsa.ui.views.symbols"
         name="Symbols Navigator"
         restorable="true">
   </view>
   <view
         class="com.marketforecastgroup.dfsa.ui.views.MaturitiesView"
         icon="icons/maturity.gif"
         id="com.marketforecastgroup.dfsa.ui.views.maturities"
         name="Maturities">
   </view>
   <view
         class="com.marketforecastgroup.dfsa.ui.views.MaturityBarsView"
         id="com.marketforecastgroup.dfsa.ui.views.maturityBarsView"
         name="Maturity Bars">
   </view>
   <view
         class="com.marketforecastgroup.dfsa.ui.views.ClientsView"
         id="com.marketforecastgroup.dfsa.ui.views.ClientsView"
         name="Clients">
   </view>
   <view
         class="com.marketforecastgroup.dfsa.ui.SchedulerView"
         id="com.marketforecastgroup.dfsa.ui.scheduler"
         name="Scheduler">
   </view>
</extension>
<extension
      point="org.eclipse.ui.splashHandlers">
   <splashHandler
         class="com.marketforecastgroup.dfsa.splashHandlers.ExtensibleSplashHandler"
         id="com.marketforecastgroup.dfsa.splashHandlers.extensible">
   </splashHandler>
   <!--
   <splashHandlerProductBinding
         productId="com.marketforecastgroup.dfsa.product"
         splashId="com.marketforecastgroup.dfsa.splashHandlers.interactive">
   </splashHandlerProductBinding>
   
   <splashHandler
         class="com.marketforecastgroup.dfsa.splashHandlers.InteractiveSplashHandler"
         id="com.marketforecastgroup.dfsa.splashHandlers.interactive">
   </splashHandler>
   -->
</extension>
<extension
      point="com.marketforecastgroup.dfsa.splashExtension">
   <splashExtension
         icon="icons/af.png"
         id="af"
         tooltip="Application Framework">
   </splashExtension>
   <splashExtension
         icon="icons/embedded.png"
         id="embedded"
         tooltip="Embedded">
   </splashExtension>
   <splashExtension
         icon="icons/enterprise.png"
         id="enterprise"
         tooltip="Enterprise">
   </splashExtension>
   <splashExtension
         icon="icons/languages.png"
         id="languages"
         tooltip="Languages">
   </splashExtension>
   <splashExtension
         icon="icons/rcp.png"
         id="rcp"
         tooltip="RCP">
   </splashExtension>
</extension>
<extension
      point="org.eclipse.ui.navigator.viewer">
   <viewer
         viewerId="com.marketforecastgroup.dfsa.ui.views.symbols">
         <popupMenu>
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.delete"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.rename">
            </insertionPoint>
         </popupMenu>
   </viewer>
   <viewerContentBinding
         viewerId="com.marketforecastgroup.dfsa.ui.views.symbols">
      <includes>
         <contentExtension
               isRoot="true"
               pattern="com.marketforecastgroup.dfsa.ui.content.symbols">
         </contentExtension>
      </includes>
   </viewerContentBinding>
</extension>
<extension
      point="org.eclipse.ui.navigator.navigatorContent">
   <navigatorContent
         contentProvider="com.marketforecastgroup.dfsa.ui.SymbolsContentProvider"
         id="com.marketforecastgroup.dfsa.ui.content.symbols"
         labelProvider="com.marketforecastgroup.dfsa.ui.DFSSymbolsLabelProvider"
         name="Symbols">
      <triggerPoints>
         <equals
               value="com.marketforecastgroup.dfsa.ui.symbolsRoot">
         </equals>
      </triggerPoints>
      <commonSorter
            class="com.marketforecastgroup.dfsa.ui.SymbolsSorter">
      </commonSorter>
   </navigatorContent>
</extension>
<extension
      point="org.eclipse.core.runtime.adapters">
   <factory
         adaptableType="com.mfg.common.DfsSymbol"
         class="com.marketforecastgroup.dfsa.adapters.SymbolAdapter">
      <adapter
            type="com.mfg.ui.editors.IEditable">
      </adapter>
   </factory>
   <factory
         adaptableType="com.mfg.dfs.data.MaturityStats"
         class="com.marketforecastgroup.dfsa.adapters.MaturityStatsAdapter">
      <adapter
            type="com.mfg.ui.editors.IEditable">
      </adapter>
   </factory>
</extension>
<extension
      point="org.eclipse.ui.editors">
   <editor
         class="com.marketforecastgroup.dfsa.ui.editors.SymbolEditor"
         default="false"
         icon="icons/symbol.gif"
         id="com.marketforecastgroup.dfsa.ui.editors.symbol"
         name="Symbol Editor">
   </editor>
   <editor
         class="com.marketforecastgroup.dfsa.ui.editors.MaturityEditor"
         default="false"
         icon="icons/maturity.gif"
         id="com.marketforecastgroup.dfsa.ui.editors.maturity"
         name="Maturity">
   </editor>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
            class="com.marketforecastgroup.dfsa.ui.preferences.DFSPropertiesPreferencePage"
            id="com.marketforecastgroup.dfsa.ui.peferences.dfsProperties"
            name="DFS Properties">
      </page>
</extension>
</plugin>
